@media screen and (max-width: 600px) {
	.typed {
		top: 15vh !important;
		margin: auto;
	}
	.typed h1 {
		font-size: 1.5em;
	}
	#mainCarousel img {
		height: 100%;
	}
	iframe {
		width: 100%;
		height: 315px;
	}
	.problem {
		height: 200px;
	}
	.what-we-do {
		height: 200px;
	}
	.activity-item {
		height: 220px;
	}
}

@media screen and (min-width: 600px) {
	#mainCarousel {
		height: 80vh;
	}
	.typed {
		margin: 0 12vw 0 8vw;
	}
	iframe {
		width: 560px;
		height: 315px;
	}
}



.typed h1 {
	color: #000;
}

.typed {
	position: absolute;
	top: 40vh;
	width: 80vw;
	min-width: 250px;
	z-index: 100;
}

.typed h1 .text {
	background-color: rgba(221,221,221,0.4);
	width: wrap;
}

#mainCarousel {
	position: relative;
	top: -15vh;
	/*height: 80vh;*/
	overflow: hidden;
}

.problem-font {
	font-family: 'Lato', sans-serif;
}

.activity-item {
	margin: 10px 0px;
}

.impa p, .impb p {
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	color: white;
}

.donaterow {
	padding: 10px 20px;
}

.gadkari-video iframe {
	margin: 0 auto;
}

.donate-button {
	width: 20vw;
}

.activity-item {
	background-color: #e1e1e1;
}

.nav-tabs .active a {
	color: white !important;
}

.nav-tabs li a:hover {
	color: white !important;
}

form p label {
	width: 200px;
}

.front-carousel .item img{
	width: 100% !important;
}

.what-we-do a {
	color: white !important;
}

.bold {
	font-weight: 800;
}

.gallery img {
	margin: 5px 0px;
	float: left;
}
