.impa{
  
    text-align: center;
    box-sizing: content-box;
   height: 100px;
   padding: auto;
   padding-top: 40px;
    background-color: #e2544d;
    position: relative;
    min-height: 1px;
    color: black;
    max-height: 130px ! important;

}
.impb{

    text-align: center;
      box-sizing: content-box;
      height: 100px;
   padding: auto;
   padding-top: 40px;
    background-color: black;   
    position: relative;
    min-height: 1px;
    color: #FB3640;
      max-height: 130px ! important;
}
